{% extends "base.html" %}

{% block title %}Resources Library{% endblock title %}

{% block content %}
{% include 'dashboard_nav.html' %}

<section class="bg-white">
    <div class="container px-6 py-10 mx-auto">
        <div class="text-center">
            <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl">Resources Library</h1>
            <p class="max-w-lg mx-auto mt-4 text-gray-500">
                This resource library offers a comprehensive guide to Seasonal Affective Disorder (SAD), a type of depression linked to seasonal changes, most commonly occurring in fall and winter.
            </p>
        </div>

        <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2 xl:grid-cols-3">
            <div>
                <div class="relative">
                    <img class="object-cover object-center w-full h-64 rounded-lg lg:h-80" src="https://images.unsplash.com/photo-1638292833942-e4d01a18d5d6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                </div>
                <h1 class="mt-6 text-xl font-semibold text-gray-800">Understanding SAD - Mayo Clinic</h1>
                <hr class="w-32 my-6 text-blue-500">
                <p class="text-sm text-gray-500">
                    A trusted overview of symptoms, causes, risk factors, and treatments for SAD from Mayo Clinic.
                </p>
                <a href="https://www.mayoclinic.org/diseases-conditions/seasonal-affective-disorder" target="_blank" class="inline-block mt-4 text-blue-500 underline hover:text-blue-400">Read more</a>
            </div>

            <div>
                <div class="relative">
                    <img class="object-cover object-center w-full h-64 rounded-lg lg:h-80" src="https://img.youtube.com/vi/BAY-4NcFQ2c/0.jpg">
                </div>
                <h1 class="mt-6 text-xl font-semibold text-gray-800">Seasonal Affective Disorder: Tips and Strategies to Address It</h1>
                <hr class="w-32 my-6 text-blue-500">
                <p class="text-sm text-gray-500">
                    By Doc Snipes, Dr. Dawn-Elise Snipes is a Licensed Professional Counselor and Qualified Clinical Supervisor.  She received her PhD in Mental Health Counseling from the University of Florida in 2002
                </p>
                <a href="https://youtu.be/BAY-4NcFQ2c?si=hnCBJoVNjBljI2y5" target="_blank" class="inline-block mt-4 text-blue-500 underline hover:text-blue-400">Watch video</a>
            </div>

            
            <div>
                <div class="relative">
                    <img class="object-cover object-center w-full h-64 rounded-lg lg:h-80" src="https://img.youtube.com/vi/WUGePhoaCGM/0.jpg">
                </div>
                <h1 class="mt-6 text-xl font-semibold text-gray-800">Why Winter Makes You SAD: Seasonal Affective Disorder Explained</h1>
                <hr class="w-32 my-6 text-blue-500">
                <p class="text-sm text-gray-500">
                    Ever wondered what Seasonal Affective Disorder actually is? Or if it’s even a real thing? What causes it? Kate tackles sudden changes in hormones and light intensity in an attempt to explain why winter makes you SAD. 
                </p>
                <a href="https://www.youtube.com/watch?v=WUGePhoaCGM" target="_blank" class="inline-block mt-4 text-blue-500 underline hover:text-blue-400">Watch video</a>
            </div>

            <div>
                <div class="relative">
                    <img class="object-cover object-center w-full h-64 rounded-lg lg:h-80" src="https://images.unsplash.com/photo-1597534458220-9fb4969f2df5?auto=format&fit=crop&w=1374&q=80" alt="">
                </div>
                <h1 class="mt-6 text-xl font-semibold text-gray-800">NHS Guide to SAD</h1>
                <hr class="w-32 my-6 text-blue-500">
                <p class="text-sm text-gray-500">
                    Official NHS information on causes, symptoms, and tips to manage Seasonal Affective Disorder.
                </p>
                <a href="https://www.nhs.uk/mental-health/conditions/seasonal-affective-disorder-sad/" target="_blank" class="inline-block mt-4 text-blue-500 underline hover:text-blue-400">Read more</a>
            </div>

            <div>
                <div class="relative">
                    <img class="object-cover object-center w-full h-64 rounded-lg lg:h-80" src="https://mhanational.org/wp-content/uploads/2024/12/pexels-chinmay-singh-819635-1024x683.jpg" alt="">
                </div>
                <h1 class="mt-6 text-xl font-semibold text-gray-800">SAD Facts and Help</h1>
                <hr class="w-32 my-6 text-blue-500">
                <p class="text-sm text-gray-500">
                    Learn about common symptoms, risk factors, and how to cope with SAD from MHA.
                </p>
                <a href="https://www.mhanational.org/conditions/seasonal-affective-disorder" target="_blank" class="inline-block mt-4 text-blue-500 underline hover:text-blue-400">Read more</a>
            </div>

            
            <div>
                <div class="relative">
                    <img class="object-cover object-center w-full h-64 rounded-lg lg:h-80" src="https://img.youtube.com/vi/U0F-XpF8au0/0.jpg">
                </div>
                <h1 class="mt-6 text-xl font-semibold text-gray-800">Seasonal Affective Disorder and Winter Blues: Treatment Options: Light Therapy for SAD</h1>
                <hr class="w-32 my-6 text-blue-500">
                <p class="text-sm text-gray-500">
                    I’m Emma McAdam, a Licensed Marriage and Family Therapist, and my mission is to make mental health resources easier to access. I take therapy skills and psychological research and condense them down into bite-sized nuggets of help. 
                </p>
                <a href="https://www.youtube.com/watch?v=U0F-XpF8au0&pp=ygUbc2Vhc29uYWwgYWZmZWN0aXZlIGRpc29yZGVy" target="_blank" class="inline-block mt-4 text-blue-500 underline hover:text-blue-400">Watch video</a>
            </div>

        </div>
    </div>
</section>

{% endblock content %}
